
  


  .mySimpleNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* margin-top: 10px; */
    overflow: hidden;
  }
  
  .mySimpleNav li{
    display: inline;
    padding: 0px;
  }

  .mySimpleNav li a{
    display: inline;
    float: right;
    padding: 10px;
  }



  /* navbar  */
  .navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
  }
  
  .navbar-brand{
    font-size: 14px;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li a{
    margin: 0 10px;
  }
  
  .navbar-links li a {
    font-size: 14px;
    text-decoration: none;
  }
  
  .navbar-links li a:hover {
    text-decoration: underline;
  }

  .hover-underline:hover {
    text-decoration: underline;
  }
  